.portrait-frame-brown {
      width: 150px;
  height: 150px;
  border: 3px solid var(--brown5);
  border-radius: 50%;
  /* background-image: url("../../images/Libor.png");  */
  background-size: 150px 150px;
  /* box-shadow: 20px 20px 60px #70a762, -20px -20px 60px #98e184; */
}



.logo-frame-brown {
width: 700px;
height: 150px;
border: 1px solid var(--brown5);
border-radius: 15px;
/* background-image: url("../../images/Libor.png");  */
background-size:contain;
background-position: center;
background-repeat: no-repeat;
/* box-shadow: 20px 20px 60px #70a762, -20px -20px 60px #98e184; */
}

