#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    position: relative;
    background-color: white;
    padding: 4em 2em;
}

.modal__close {
    position: absolute;
    top: 0px; 
    right: 0;
    
    display: block;
    width: 28px;
    height: 28px;
    background-image: url("../../images/close-button-green.svg"); 
    cursor: pointer;
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}